* {
	box-sizing: border-box;
}

html {
	background-color: rgb(0, 0, 0);
	color: #fff;
}

.App__content {
	width: 100%;
	max-width: 1480px;
	margin-left: auto;
	margin-right: auto;
}

.logo > svg {
	max-width: 150px;
	height: auto;
}

.App-header {
	background-color: #222;
	height: 170px;
	padding: 20px;
	color: white;
	text-align: center;
}

.App-title {
	font-size: 1.5em;
	margin: 0;
}

.App-intro {
	font-size: large;
}

.App__content {
	display: grid;
	grid-template-columns: 50% 50%;
	grid-template-rows: auto;
	grid-template-areas: 'header header' 'main main';
}

.App__search {
	grid-area: header;
	height: 80px;
	text-align: center;
}

.App__results {
	grid-area: main;
	max-width: 1400px;
}

.search__results {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
	list-style-type: none;
}

.search__result {
	padding: 20px;
	/* margin-bottom */
}

table {
	width: 100%;
	border-collapse: collapse;
	border: 1px solid silver;
}

td {
	padding: 15px;
	border-bottom: 1px solid silver;
	border-collapse: collapse;
}

.search__field {
	height: 40px;
	color: #fff;
	background: none;
	border: none;
	padding: 5px;
	font-size: 18px;
	line-height: 40px;
	border-bottom: 1px solid lightgrey;
	width: 100%;
	max-width: 500px;
	margin: 20px auto;
}

.search__field::-webkit-input-placeholder {
	/* Chrome/Opera/Safari */
	color: #fff;
}

.search__field::-moz-placeholder {
	/* Firefox 19+ */
	color: #fff;
}

.search__field:-ms-input-placeholder {
	/* IE 10+ */
	color: #fff;
}

.search__field:-moz-placeholder {
	/* Firefox 18- */
	color: #fff;
}
